.container-fluid {
    padding: 0%;
    margin: 0%;
}

.carousel .carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 400px;
  }

main {
    padding: 2%;
}

footer {
    background-color: #908D8C;
}