.container-fluid {
    padding: 0%;
    margin: 0%;
}

.carousel .carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 400px;
  }

#Productos1 {
    display:flexbox;
    align-content: center;
    align-items: center;
    padding: 2%;
    padding-left: 7%;
    width: 100%;
    height: 100%; 
}

#Productos2 {
    display:flexbox;
    align-self: center;
    align-items: center;
    padding: 2%;
    padding-left: 7%;
    width: 100%;
    height: 100%; 
}

div.card {
    display: flexbox;
    align-self: center;
    align-items: left;
    width: 80%;
    height: 100%;
    padding: 5%
}

div.card ul {
    padding: 0%;
}

div.card li {
    list-style: none;
    display: flex;
    align-items: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: small;
}

.card img {
    display: flexbox;
    align-content: center;
    padding: 2%;
}

footer {
    background-color: #908D8C;
}